@model FinancialPortal.Models.Household

@{
    ViewBag.Title = "RunAway";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">The Household</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item">Run Away</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card card-border-c-red">
            <div class="card-body">
                <h5>Not so fast</h5>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label style="font-size:x-large">Are you really sure you want to leave?</label><a href="@Url.Action("Leave")" class="btn  btn-danger btn-lg" style="margin-left: 50px">Run Away</a>
                    </div>
                    @*<div class="col-md-6 offset-3">
                            <a href="@Url.Action("Leave")" class="btn  btn-danger btn-lg" style="margin-left: 15px">Run Away</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>